@keyframes bubble {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animateBackground {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.2);
  }
}

@keyframes slide {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1858px);
  }
}

@keyframes slideTop {
  from {
    transform: translateY(-1858px);
  }
  to {
    transform: translateY(0px);
  }
}

.bubble {
  animation: bubble 3s linear infinite;
}

.banner-bg {
  animation: animateBackground 15s infinite;
  opacity: 0;
}
.banner-bg-2 {
  animation-delay: 5s;
}
.banner-bg-3 {
  animation-delay: 10s;
}

.life-scroll-move.bottom {
  animation: slide 20s linear infinite;
}
.life-scroll-move.top {
  animation: slideTop 20s linear infinite;
}
